<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="msw">

	<resultMap type="msw" id="mswMap">
		<result property="proTitle" column="pro_title"/>
		<result property="proName" column="pro_name"/>
		<result property="proPrice" column="pro_price"/>
		<result property="proAmount" column="pro_amount"/>
		<result property="orderDate" column="order_date"/>
		<result property="arriveDate" column="arrive_date"/>
	</resultMap>
	
	<select id="cartList" resultMap="mswMap" >
		select * from msw
	</select>
	
	<select id="zzimList" resultMap="mswMap" >
		select * from msw
	</select>

	<select id="orderList" resultMap="mswMap" >
		select * from msw
	</select>
</mapper>
