<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="member" id="memberMap">
		<id property="memberId" column="member_id"/>
		<result property="memberPwd" column="member_pwd"/>
		<result property="memberName" column="member_name"/>
		<result property="memberBirth" column="member_birth"/>
		<result property="memberGender" column="member_gender"/>
		<result property="memberPhone" column="member_phone"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberEnrollDate" column="member_enroll_date"/>
		<result property="roles" column="roles" typeHandler="roles"/>
	</resultMap>
	
	<select id="selectMember" parameterType="member" resultMap="memberMap">
      SELECT * FROM MEMBER WHERE MEMBER_ID=#{memberId} AND MEMBER_PWD=#{memberPwd}
    </select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES(#{memberId},#{memberBirth},#{memberEmail},SYSDATE,#{memberGender},#{memberName},#{memberPhone},#{memberPwd},
		#{roles, typeHandler=roles})
	</insert>
	
	<select id="idCheck" parameterType="string" resultType="integer">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID=#{memberId}
	</select>
	
	<select id="findId" parameterType="member" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE MEMBER_EMAIL=#{memeberEmail}
	</select>
	
	<select id="findIdCheck" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_EMAIL=#{memberEmail}
	</select>
	
	<select id="findPwCheck" parameterType="member" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID=#{memberId} AND MEMBER_EMAIL=#{memberEmail}
	</select>
</mapper>
