<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.dal.dalgona.common.model.vo.Member" alias="member"/>
		<!-- <typeAlias type="com.dal.dalgona.working.model.vo.Msw" alias="msw"/> -->
		<typeAlias type="com.dal.dalgona.common.model.vo.Product" alias="cart"/>
		<typeAlias type="com.dal.dalgona.common.model.vo.Product" alias="product"/>
		<typeAlias type="com.dal.dalgona.common.model.vo.Review" alias="review"/>
		<typeAlias type="com.dal.dalgona.common.model.vo.Qna" alias="qna"/>
	</typeAliases>
</configuration>
