@charset "UTF-8";

/* 결제페이지-메인 */
#payment-box {
	width: 900px;
 	margin: 0 auto;
}


.payment-table {
/* 	background-color: beige; */
	width: 900px;
	border-collapse: separate;
  	border-spacing: 0 10px;
  	
}

/* 결제, 취소 버튼 */
/* #payment-cancle-btn {
	
}

#payment-btn {
	
} */

/* #payment-tr {
	border-collapse: separate;
	border-spacing: 0 20px;
} */

#payment-container {
/*  	background-color: lightgray; */
	width: 900px;
	height: 1040px;
 	margin: 0 auto;
}

#payment-th {
	width: 150px;
}

.deli-btn {
	display: inline-block;
}

#deli-btn {
	margin-bottom: 15px;
}

.deli-btn-content {
	display: inline-block;
}

#deli-th {
	margin: auto;
}

#payment-deli-table {
	background-color: #e6e6fa;
	border-radius: 20px;
	text-align: center;
}

.payment-btn-1 {
	margin: auto;
}


/* payment success */





