@charset "EUC-KR";

.category11 {
	padding: 12px 10px;
	text-decoration: none;
	color: black;
	font-size: 22px;
	cursor: pointer;
}

.leftbox {
	display: inline-block;
}

.rightbox {
	display: inline-block;
	float: right;
}

.btnnone {
	/* display:none; */
	border: 0;
	background-color: white;
}

.zzim {
	float: right;
	position: absolute;
	top: 1;
	width: 24%;
	margin-left: -8px;
}

.fullheart {
	width: 55;
	height: 40;
	float: right;
}

.beanheart {
	width: 50;
	height: 40;
	float: right;
}

.shopHeader {
	padding: 0px 130px 0px 130px;
	display: flex;
	justify-content: space-between;
}