<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">

	<insert id="order">
		INSERT INTO PRODUCT_ORDER (
			   ORDER_CODE,
			   ADDRESS_CODE,
			   ORDER_DATE,
			   ORDER_STATUS,
			   SELECT_LOCATION
		    ) VALUES (
			   #{orderCode },
			   ${addressCode },
			   ${orderDate },
			   ${orderStatus },
			   ${selectLocation }
		    )
	</insert>
	
<!-- 	<insert id="order">
		INSERT INTO ORDER_DETAIL (
			    ORDER_NUM,
			    PRODUCT_CODE,
			    ORDER_AMOUNT,
			    ORDER_OPTION
		    ) VALUES (
			    #{orderNum },
			    #{productCode },
			    #{orderAmount },
			    #{orderOption }
		    )
	</insert> -->

</mapper>