<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
	
	<resultMap type="product" id="productMap">
		<id property="productCode" column="product_code" />
		<result property="productAmount" column="product_amount" />
		<result property="productContent" column="product_content" />
		<result property="productDate" column="product_date" />
		<result property="productImage" column="order_image" />
		<result property="productName" column="product_name" />
		<result property="productPrice" column="product_price" />
		<result property="productThumb" column="product_thumb" />
	</resultMap>
	
	<resultMap type="productOrder" id="productOrderMap">
		<id property="orderCode" column="order_code" />
		<result property="impUid" column="imp_uid" />
		<result property="orderDate" column="order_date" />
		<result property="orderStatus" column="order_status" />
		<result property="totalPrice" column="total_price" />
		<result property="selectLocation" column="select_Location"/>
		<association column="addressCode" property="deliveryLocation" resultMap="deliveryLocationMap" />
	</resultMap>
	
	<resultMap type="orderDetail" id="orderDetailMap">
		<result property="orderAmount" column="order_amount" />
		<result property="orderOption" column="order_option" />
		<association column="product_code" property="product" resultMap="productMap" />
		<association column="order_code" property="productOrder" resultMap="productOrderMap" />
	</resultMap>
	
	<resultMap type="DeliveryLocation" id="deliveryLocationMap">
		<id property="addressCode" column="address_code"/>
		<result property="addrDetail" column="addr_detail"/>
		<result property="adrPostNum;" column="adr_postNum;"/>
		<result property="addrRoadName" column="addr_roadName"/>
		<result property="addrReceiver" column="addr_receiver"/>
		<result property="addrPhone" column="addr_phone"/>
		<result property="addrBase" column="addr_base"/>
		<association column="member_id" property="member" resultMap="memberMap" />
	</resultMap>
	
	<resultMap type="member" id="memberMap">
      <id property="memberId" column="member_id"/>
      <result property="memberPwd" column="member_pwd"/>
      <result property="memberName" column="member_name"/>
      <result property="memberBirth" column="member_birth"/>
      <result property="memberGender" column="member_gender"/>
      <result property="memberPhone" column="member_phone"/>
      <result property="memberEmail" column="member_email"/>
      <result property="memberEnrollDate" column="member_enroll_date"/>
   </resultMap>
	
	<insert id="pOrder" parameterType="productOrder">
		INSERT INTO PRODUCT_ORDER <!-- (
				ORDER_CODE,
				IMP_UID,
				ORDER_DATE,
				ORDER_STATUS,
				TOTAL_PRICE,
				SELECT_LOCATION,
				ADDRESS_CODE
			) --> VALUES (
				SEQ_ORDER_CODE.NEXTVAL,
				#{impUid },
				#{orderDate },
				#{orderStatus},
				#{selectLocation },
				#{deliveryLocation.addressCode},
				#{totalPrice }
			)
	</insert>

	<insert id="order" parameterType="orderDetail">
	
		<!-- <selectKey keyProperty="orderCode" order="BEFORE" resultType="long">
	     	SELECT seq_order_code.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO ORDER_DETAIL (
			   ORDER_CODE,
			   PRODUCT_CODE,
			   ORDER_AMOUNT,
			   ORDER_OPTION
		    ) VALUES (
			   #{productOrder.orderCode },
			   #{product.productCode },
			   #{orderAmount },
			   #{orderOption }
		    ) -->
		    
		INSERT INTO ORDER_DETAIL VALUES(#{productOrder.orderCode },
			   #{product.productCode },
			   #{orderAmount },
			   #{orderOption })

	</insert>
	
<!-- 	<insert id="order">
		INSERT INTO ORDER_DETAIL (
			    ORDER_NUM,
			    PRODUCT_CODE,
			    ORDER_AMOUNT,
			    ORDER_OPTION
		    ) VALUES (
			    #{orderNum },
			    #{productCode },
			    #{orderAmount },
			    #{orderOption }
		    )
	</insert> -->
	
	<select id="selectDl">
		SELECT * FROM
			DELEVERY_LOCATION
			WHERE ADDR_BASE='0'
	</select>

</mapper>