<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<select id="reviewList"  resultType="review" >
		SELECT * FROM REVIEW 
	</select>
	<!-- <insert id="insertreview" parameterType="review">
		INSERT INTO REVIEW VALUES(SEQ_BOARDNO.NEXTVAL,#{boardTitle},#{boardWriter},
				#{boardContent},default,default)
		<selectKey keyProperty="boardNo" resultType="_int" order="AFTER">
			SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
		</selectKey>
	</insert> -->
	
</mapper>
