<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="deliveryLocation">

<resultMap type="member" id="memberMap">
      <id property="memberId" column="member_id"/>
      <result property="memberPwd" column="member_pwd"/>
      <result property="memberName" column="member_name"/>
      <result property="memberBirth" column="member_birth"/>
      <result property="memberGender" column="member_gender"/>
      <result property="memberPhone" column="member_phone"/>
      <result property="memberEmail" column="member_email"/>
      <result property="memberEnrollDate" column="member_enroll_date"/>
   </resultMap>
	
	<resultMap type="DeliveryLocation" id="deliveryLocationMap">
		<id property="addressCode" column="address_code"/>
		<result property="addrDetail" column="addr_detail"/>
		<result property="adrPostNum" column="adr_postNum"/>
		<result property="addrRoadName" column="addr_roadName"/>
		<result property="addrReceiver" column="addr_receiver"/>
		<result property="addrPhone" column="addr_phone"/>
		<result property="addrBase" column="addr_base"/>
		<association column="member_id" property="member" resultMap="memberMap" />
	</resultMap>

<select id="selectDL" resultMap="deliveryLocationMap">
		select *
		from delivery_Location d,member m
		where m.member_id=d.member_id
		and d.member_id=#{memberId}
	</select>

</mapper>
