<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="member" id="memberMap">
		<id property="memberId" column="member_id"/>
		<result property="memberPwd" column="member_pwd"/>
		<result property="memberName" column="member_name"/>
		<result property="memberBirth" column="member_birth"/>
		<result property="memberGender" column="member_gender"/>
		<result property="memberPhone" column="member_phone"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberEnrollDate" column="member_enroll_date"/>
	</resultMap>
	<select id="selectMember" parameterType="member" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE MEMBER_ID=#{memberId}
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES(#{memberId},#{memberBirth},#{memberEmail},SYSDATE,#{memberGender},#{memberName},#{memberPhone},#{memberPwd})
	</insert>
	
</mapper>
