<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
	<resultMap type="product" id="productMap">
		<id property="productCode" column="product_code"/>
		<result property="productName" column="product_name"/>
		<result property="productPrice" column="product_price"/>
		<result property="productContent" column="product_content"/>
		<result property="productAmount" column="product_amount"/>
		<result property="productThumb" column="product_thumb"/>
		<result property="productImage" column="product_image"/>
		<result property="productDate" column="product_date"/>
	</resultMap>
	
	<select id="selectProduct" parameterType="_long" resultMap="productMap" >
		SELECT * FROM PRODUCT WHERE PRODUCT_CODE=#{productCode}
	</select>
	
	<select id="selectProducts" resultMap="productMap" >
		SELECT * FROM PRODUCT
	</select>
	
	<update id="minusProductAmount" parameterType="Map">
		UPDATE PRODUCT SET PRODUCT_AMOUNT=PRODUCT_AMOUNT-#{orderAmount} WHERE PRODUCT_CODE=#{productCode}
	</update>
	
	<select id="categoryList" resultMap="productMap" >
      SELECT * FROM PRODUCT WHERE CATEGORY_NAME=#{categoryName}
   </select>
	
	<select  id="searchProduct" resultMap="productMap">
			select * from product where PRODUCT_NAME like '%'||#{keyword}||'%' or CATEGORY_NAME like '%'||#{keyword}||'%'
	</select>
	
	<select id="adminSearchProduct" resultMap="productMap">
			select * from product where PRODUCT_NAME like '%'||#{adminKeyword}||'%'
	</select>
	
	<select id="selectProductsPlus" resultMap="productMap" >
		SELECT * 
		FROM PRODUCT p
		WHERE 1=1
		<if test="categoryName != null and categoryName != ''">
	   		AND CATEGORY_NAME LIKE '%'||#{categoryName}||'%'
		</if>
		<if test="searchSeq != null and searchSeq != '' and searchSeq =='최신순'">
	   		ORDER BY PRODUCT_DATE
		</if>
		<if test="searchSeq != null and searchSeq != '' and searchSeq =='가격순'">
	   		ORDER BY PRODUCT_PRICE
		</if>
		<if test="searchOrder != null and searchOrder != '' and searchOrder =='ASC'">
	   		ASC
		</if>
		<if test="searchOrder != null and searchOrder != '' and searchOrder =='DESC'">
	   		DESC
		</if>
	</select>
	
	<select id="selectProductsPlusCount" resultType="_int" >
		SELECT COUNT(*) 
		FROM PRODUCT p
		WHERE 1=1
		<if test="categoryName != null and categoryName != ''">
	   		AND CATEGORY_NAME LIKE '%'||#{categoryName}||'%'
		</if>
		<if test="searchSeq != null and searchSeq != '' and searchSeq =='최신순'">
	   		ORDER BY PRODUCT_DATE
		</if>
		<if test="searchSeq != null and searchSeq != '' and searchSeq =='가격순'">
	   		ORDER BY PRODUCT_PRICE
		</if>
		<if test="searchOrder != null and searchOrder != '' and searchOrder =='ASC'">
	   		ASC
		</if>
		<if test="searchOrder != null and searchOrder != '' and searchOrder =='DESC'">
	   		DESC
		</if>
	</select>
	
	<select id="selectProductsPlusPop" resultMap="productMap" >
		SELECT * 
		FROM PRODUCT P 
		LEFT JOIN (SELECT COUNT(LIKES_CODE) AS LIKESSU, PRODUCT_CODE 
					FROM (SELECT * 
							FROM PRODUCT p 
							LEFT JOIN LIKES l USING (PRODUCT_CODE)) 
					GROUP BY PRODUCT_CODE) 
		USING (PRODUCT_CODE)
		WHERE 1=1
		<if test="categoryName != null and categoryName != ''">
	   		AND CATEGORY_NAME LIKE '%'||#{categoryName}||'%'
		</if>
		ORDER BY LIKESSU
		<if test="searchOrder != null and searchOrder != '' and searchOrder =='ASC'">
	   		ASC
		</if>
		<if test="searchOrder != null and searchOrder != '' and searchOrder =='DESC'">
	   		DESC
		</if>
	</select>
	
	<select id="selectProductsPlusPopCount" resultType="_int" >
		SELECT COUNT(*) 
		FROM PRODUCT P 
		LEFT JOIN (SELECT COUNT(LIKES_CODE) AS LIKESSU, PRODUCT_CODE 
					FROM (SELECT * 
							FROM PRODUCT p 
							LEFT JOIN LIKES l USING (PRODUCT_CODE)) 
					GROUP BY PRODUCT_CODE) 
		USING (PRODUCT_CODE)
		WHERE 1=1
		<if test="categoryName != null and categoryName != ''">
	   		AND CATEGORY_NAME LIKE '%'||#{categoryName}||'%'
		</if>
		ORDER BY LIKESSU
		<if test="searchOrder != null and searchOrder != '' and searchOrder =='ASC'">
	   		ASC
		</if>
		<if test="searchOrder != null and searchOrder != '' and searchOrder =='DESC'">
	   		DESC
		</if>
	</select>
	
	<select id="selectTopBuy" resultMap="productMap" >
		SELECT * FROM (
		SELECT * 
		FROM PRODUCT p 
		LEFT JOIN (SELECT COUNT(*) AS BUY, PRODUCT_CODE 
					FROM (SELECT * 
							FROM PRODUCT P2 
							LEFT JOIN ORDER_DETAIL od 
							USING (PRODUCT_CODE)) 
					GROUP BY PRODUCT_CODE) 
		USING (PRODUCT_CODE) 
		ORDER BY BUY DESC) 
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<select id="selectTopZzim" resultMap="productMap" >
		SELECT * FROM ( 
		SELECT * 
		FROM PRODUCT P 
		LEFT JOIN (SELECT COUNT(LIKES_CODE) AS LIKESSU, PRODUCT_CODE 
					FROM (SELECT * 
							FROM PRODUCT p 
							LEFT JOIN LIKES l USING (PRODUCT_CODE)) 
					GROUP BY PRODUCT_CODE) 
		USING (PRODUCT_CODE)
		ORDER BY LIKESSU DESC )
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
