<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cart">

	<!-- <resultMap type="msw" id="mswMap"> <result property="proTitle" column="pro_title"/> 
		<result property="proName" column="pro_name"/> <result property="proPrice" 
		column="pro_price"/> <result property="proAmount" column="pro_amount"/> <result 
		property="orderDate" column="order_date"/> <result property="arriveDate" 
		column="arrive_date"/> </resultMap> -->
	<resultMap type="product" id="productMap">
		<result property="productCode" column="product_code" />
		<result property="productAmount" column="product_amount" />
		<result property="productContent" column="product_content" />
		<result property="productDate" column="product_date" />
		<result property="productImage" column="order_image" />
		<result property="productName" column="product_name" />
		<result property="productPrice" column="product_price" />
		<result property="productThumb" column="product_thumb" />
		<!-- <result property="category" column="category"/> -->
		<!-- <result property="product" column="category_code"/> -->
	</resultMap>

	<select id="selectProduct" parameterType="product"
		resultMap="productMap">
		select * from product
	</select>

	<!-- <select id="cartList" parameterType="product" resultMap="cartMap" > 
		SELECT * FROM PRODUCT </select> -->

	<select id="cartList" resultType="Cart">
		SELECT c.PRODUCT_CODE,c.MEMBER_ID ,PRODUCT_name, c.cart_amount,p.PRODUCT_image
		,product_price,(p.product_price*c.cart_amount)
		FROM CART
		c,PRODUCT p ,MEMBER m
		WHERE 	m.MEMBER_Id = c.MEMBER_Id
		AND	c.PRODUCT_CODE = p.PRODUCT_CODE 
		AND c.MEMBER_Id =#{memberId}
	</select>
	
	<delete id="deletecart">
		delete from cart
		where product_code =#{productCode}
		
	</delete>
	
	

	<select id="sumMoney" resultType="_int">
		SELECT NVL(SUM(product_price*cart_amount),0)
		FROM CART c ,PRODUCT p
		WHERE P.PRODUCT_CODE = c.PRODUCT_CODE 
	    AND c.MEMBER_Id =#{memberId}
	</select>

	<!-- <select id="zzimList" parameterType="product" resultMap="cartMap"> 
		select * from product </select> -->
	<select id="zzimList" resultMap="productMap">
		select * from product
	</select>

	<select id="orderList" resultMap="productMap">
		select * from product
	</select>
	<!-- <select id="orderList" parameterType="product" resultMap="cartMap"> 
		select * from product </select> -->
</mapper>
