<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cart">

	<resultMap type="product" id="productMap">
		<result property="productCode" column="product_code" />
		<result property="productAmount" column="product_amount" />
		<result property="productContent" column="product_content" />
		<result property="productDate" column="product_date" />
		<result property="productImage" column="order_image" />
		<result property="productName" column="product_name" />
		<result property="productPrice" column="product_price" />
		<result property="productThumb" column="product_thumb" />
		<result property="categoryName" column="category_name"/>
		<!-- <result property="product" column="category_code"/> -->
	</resultMap>
	 <resultMap type="member" id="memberMap">
      <id property="memberId" column="member_id"/>
      <result property="memberPwd" column="member_pwd"/>
      <result property="memberName" column="member_name"/>
      <result property="memberBirth" column="member_birth"/>
      <result property="memberGender" column="member_gender"/>
      <result property="memberPhone" column="member_phone"/>
      <result property="memberEmail" column="member_email"/>
      <result property="memberEnrollDate" column="member_enroll_date"/>
      <!-- <result property="roles" column="roles" typeHandler="roles"/> roles 핸들러 -->
   </resultMap>
	
	<resultMap type="cart" id="cartMap">
		<result column="cart_code" property="cartCode"/>
		<association column="product_code" property="product" resultMap="productMap"/>
		<association column="member_id" property="member" resultMap="memberMap"/>
	</resultMap>
	
	<insert id="cartInsert">
		insert into Cart
		values(seq_cart_code.nextval,#{member.memberId},#{product.productCode},#{cartAmount})
	</insert>
	
	<select id="selectCart" parameterType="product" resultMap="cartMap">
		select *from cart where PRODUCT_CODE=#{productCode}
	</select>

	<select id="cartList" resultMap="cartMap">
		SELECT *
		FROM CART
		c,PRODUCT p ,MEMBER m
		WHERE 	m.MEMBER_Id = c.MEMBER_Id
		AND	c.PRODUCT_CODE = p.PRODUCT_CODE 
		AND c.MEMBER_Id =#{memberId}
	</select>
	
	<delete id="delete">
		delete from cart
		where cart_code =#{cartCode}
	</delete>
	
	<delete id="selectDelete">
		delete from cart
		where cart_code =#{cartCode}
		
	</delete>

		<!-- 전체삭제 -->
	<!-- <delete id="deleteAll">  
		delete from cart
		where member_id=#{memberId}
		
	</delete> -->
	
	<select id="sumMoney" resultType="_int">
		SELECT NVL(SUM(product_price*cart_amount),0)
		FROM CART c ,PRODUCT p
		WHERE P.PRODUCT_CODE = c.PRODUCT_CODE 
	    AND c.MEMBER_Id =#{memberId}
	</select>

</mapper>
